html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	margin: 0;
	color: #242424;
	font-size: 18px;
	line-height: 1.5;
	margin: auto;
	font-family: 'Lora', serif;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	line-height: 1.25;
	margin: 0;
}

.menu {
	display: flex;
	justify-content: space-between;
	width: 1100px;
	margin: auto;
}

.menu__img {
	width: 170px;
}

.menu__item {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	align-items: center;
}

.menu__link {
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 20px;
}

.menu__link:visited,
.menu__link:active {
	color: #242424;
}

.menu__link:hover {
	color: white;
	background-color: #f195b2;
}

.menu {
	padding: 30px 10px;
}

.footer__item {
	padding: 30px 0;
}
 
.aboutus {
	background-image: url("images/cupcake.jpg");
	background-size: cover;
	background-position: center;
	padding: 80px 0;
}

.aboutus__title {
	font-size: 52px;
	color: #f0f0f0;
	width: 60%;
}

.aboutus__text {
	font-size: 24px;
	color: #f0f0f0;
	font-style: italic;
	width: 60%;
}

.aboutus__wrapper {
	width: 1100px;
	margin: auto;
	padding: 0 10px;
}

.ouroffer {
	background-color: #f0f0f0;
	padding: 80px 0;
}

.ouroffer__item,
.ouroffer__products {
	width: 1100px;
	margin: auto;
}

.ourbusiness,
.baking {
	width: 1100px;
	margin: auto;
}

.ourbusiness {
	padding: 80px 0;
}

.ourbusiness,
.ourbusiness__item--right,
.ourbusiness__item--left {
	display: flex;
}

.ourbusiness__item--left {
	flex-direction: column;
	padding-left: 10px;
}

.ourbusiness__item--right {
	padding-right: 10px;
}

.ourbusiness {
	gap: 30px;
	align-items: center;
}

.ourbusiness__title,
.ouroffer__title,
.baking__title {
	font-size: 36px;
	color: #3e606b;
}

.ourbusiness__button {
	background-color: #f195b2;
	color: #f0f0f0;
	text-decoration: none;
	border-radius: 30px;
	padding: 15px 40px;
	width: fit-content;
}

.ouroffer__products {
	display: flex;
	gap: 30px;
	padding: 0 10px;
}

.ouroffer__item {
	padding: 0 10px;
}

.product {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	overflow: hidden;
}

.product__image {
	width: 100%;
}

.product__title {
	font-size: 18px;
	color: #3e606b;
	text-align: center;
}

.product__wrapper {
	padding: 20px;
	border-radius: 5px;
	background-color: white;
}

.ouroffer {
	background-color: #f0f0f0;
}

.baking {
	display: flex;
	gap: 30px;
	align-items: center;
	padding: 80px 10px;
}

.baking__item {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.baking__image,
.ourbusiness__image {
	border-radius: 5px;
}

.footer__item {
	background-color: #303339;
	text-align: center;
}

.footer__text {
	color: #f0f0f0;
	margin: 0;
}